<div class="col align-items-center">
    <div>
        @*Rouge*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ff9999")" Style="background-color:#ff9999" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ff6666")" Style="background-color:#ff6666" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ff3333")" Style="background-color:#ff3333" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ff0000")" Style="background-color:#ff0000" />
    </div>

    <div>
        @*Vert*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#adebad")" Style="background-color:#adebad" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#85e085")" Style="background-color:#85e085" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#5cd65c")" Style="background-color: #5cd65c" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#33cc33")" Style="background-color:#33cc33" />
    </div>

    <div>
        @*Marron*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#d9b38c")" Style="background-color:#d9b38c" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#cc9966")" Style="background-color:#cc9966" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#bf8040")" Style="background-color:#bf8040" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#996633")" Style="background-color:#996633" />

    </div>

    <div>
        @*Orange*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffd699")" Style="background-color: #ffd699" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffc266")" Style="background-color: #ffc266" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffad33")" Style="background-color: #ffad33" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ff9900")" Style="background-color:#ff9900" />
    </div>

    <div>
        @*Jaune*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffff80")" Style="background-color:#ffff80" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffff4d")" Style="background-color:#ffff4d" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ffff1a")" Style="background-color:#ffff1a" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#e6e600")" Style="background-color:#e6e600" />
    </div>


    <div>
        @*Gris*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#c2d6d6")" Style="background-color: #c2d6d6" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#a3c2c2")" Style="background-color: #a3c2c2" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#85adad")" Style="background-color:#85adad" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#669999")" Style="background-color: #669999" />
    </div>

    <div>
        @*Bleu*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#99c2ff")" Style="background-color: #99c2ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#66a3ff")" Style="background-color: #66a3ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#3385ff")" Style="background-color:#3385ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#0066ff")" Style="background-color: #0066ff" />
    </div>

    <div>
        @*Mauve*@
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#d699ff")" Style="background-color: #d699ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#c266ff")" Style="background-color:#c266ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#ad33ff")" Style="background-color:#ad33ff" />
        <button class="mat-fab mdc-fab @(Mini?"mdc-fab--mini":"")" type="button" @onclick="@(()=>Color = "#9900ff")" Style="background-color: #9900ff" />
    </div>
</div>



@code {

    [Parameter]
    public bool Mini { get; set; } = true;

    private string _color;

    [Parameter]
    public string Color
    {
        get => _color;
        set
        {
            if (_color == value) return;
            _color = value;
            ColorChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> ColorChanged { get; set; }

}
